@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-primary text-text;
}

@layer utilities {
  .animate-fade-in {
    animation: fadeIn 1s ease-in;
  }
  
  .animate-fade-in-delay {
    animation: fadeIn 1s ease-in 0.3s both;
  }
  
  .animate-fade-in-delay-2 {
    animation: fadeIn 1s ease-in 0.6s both;
  }
  
  .animate-fade-in-delay-3 {
    animation: fadeIn 1s ease-in 0.9s both;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes grain {
  0%, 100% {
    background-position: 0 0;
  }
  10% {
    background-position: -5% -10%;
  }
  20% {
    background-position: -15% 5%;
  }
  30% {
    background-position: 7% -25%;
  }
  40% {
    background-position: -5% 25%;
  }
  50% {
    background-position: -15% 10%;
  }
  60% {
    background-position: 15% 0%;
  }
  70% {
    background-position: 0% 15%;
  }
  80% {
    background-position: 3% 35%;
  }
  90% {
    background-position: -10% 10%;
  }
}

.grain-animation {
  animation: grain 8s steps(10) infinite;
}
